.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.wrapper-title {
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
}

.wrapper-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(5px, 2vw, 8px);
}

@media (min-width: 768px) {
    .wrapper {
        align-items: flex-start;
    }

    .wrapper-content {
        justify-content: start;
    }
}