.appearance-control {
    padding: 6px 12px;
    font-size: clamp(12px, 3vw, 16px);
    background-color: transparent;
    color: #1987d1;
    border: 2px solid #1987d1;
    border-radius: 25px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.active,
.appearance-control:hover {
    color: white;
    border-color: #0076c5;
    background-color: #0076c5;
}

@media (min-width: 768px) {
    .appearance-control {
        font-size: clamp(12px, 1vw, 16px);
    }
}

@media (min-width: 991px) {
    .appearance-control {
        font-size: clamp(12px, 2vw, 16px);
    }
}