.canvas-container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.canvas{
    max-width: 100%;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 6px 12px;
    font-size: clamp(12px, 3vw, 18px);
    font-weight: bold;
    cursor: pointer;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.buttons button:hover {
    transform: translateY(-2px);
}

@media (min-width: 768px) {
  .buttons button {
    padding: 10px 20px;
  }
}