#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: #dcdfe2;
}

main {
  width: 100%;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 5vw, 40px);
}

.title {
  font-size: clamp(20px, 6vw, 3rem);
  align-self: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(5px, 6vw, 80px);
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 2vw, 40px);
}

@media (min-width: 768px) {
  main {
    padding: 0 16px;
  }

  .title {
    align-self: flex-start;
  }

  .container {
    flex-direction: row;
    align-items: start;
  }
}

@media (min-width: 991px) {
  main {
    padding: 0 80px;
  }
}